h1{
  align-items: center;
  justify-content: center;
  display: flex;
}

.class1{
  padding: 10px;
  color: blue;
  size: 1.25em;
}

.btn-primary{
  border-radius: 5px;
  border: 2px solid red;
  padding: 10px;
  margin:40px;
}

.btn-primary:hover{
  background-color:tomato;
  color: white;
}

button{
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px;

}
button:hover{
  background-color: blueviolet;
  border-radius: 5px;
}

.container1 {
  width: 100%;
  height: 150px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.container1 .box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animl 1s infinite alternate ease-in-out;
}

.container1 .box:nth-child(2) {
  background-color: red;
}

.container1 .box:nth-child(3) {
  background-color: orange;
}

@keyframes animl {
  0% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  100% { transform: rotate(-15deg); }
}

